.items
  .items__header
    .items__header--icon
      = link_to root_path do
        = image_tag 'logo.png'
  .items__main
    .items__main--form
      .items-notification
        - flash.each do |key, value|
          = content_tag :div, value, class: key
      = form_with(model:@item, local: true , id: 'edit_item') do |f|
        .item-image-container
          = f.label :"出品画像"
          %span.form-require 必須
          %p.item-image-container__lead
            最大5枚までアップロードできます
          .item-image-container__unit
            %ul
            .item-image-container__unit--guide
              //プレビューの数に合わせてforオプションを指定
              = f.label :"item_images_attributes_#{@item.item_images.length}_image", class: "label-box", id: "label-box--#{@item.item_images.length}" do
                %div.image-upload-dropfile-entire
                  .have-image
                    %p#click-delete クリックしてファイルをアップロード
            .hidden-content
              = f.fields_for :item_images do |i|
                //プレビューが出ている分のfile_fieldとdelete用のチェックボックスを設置
                = i.file_field :image, class: "hidden-field"
                = i.check_box:_destroy, class: "hidden-checkbox"
                //5つのfile_fieldを準備するに当たって、足りない分を表示
              - @item.item_images.length.upto(4) do |i|
                %input{name: "item[item_images_attributes][#{i}][image]", id: "item_item_images_attributes_#{i}_image", class:"hidden-field", type:"file"}
        %hr.items-hr
        .items-first
          .items-first__head
            = f.label :"商品名"
            %span.form-require 必須
            %br/
            = f.text_field :title ,placeholder: "40文字まで",value:@item.title,class:"items-first__title"
          .items-first__foot
            = f.label :"商品の説明"
            %span.form-require 必須
            %br/
            = f.text_area :description,placeholder: text_placeholder,class:"items-first__description"
            %p
              #textlength
                現在 0/1000 文字入力済
        %hr.items-hr
        .items-second
          %p.items-second__detail
            商品の詳細
          .items-second__head
            = f.label :"カテゴリー"
            %span.form-require 必須
            %br/
            .items-second__head--first
              = select_tag 'parent', options_for_select(@categories.pluck(:name,:id),selected:@item.category.parent.parent.id)
            .items-second__head--second
              = select_tag 'child' , options_for_select(Category.where(ancestry: @item.category.parent.parent.id).pluck(:name,:id),selected:@item.category.parent.id)
            .items-second__head--third
              = f.collection_select :category_id,Category.where(ancestry: "#{@item.category.parent.parent.id.to_s + '/' + @item.category.parent.id.to_s}"),:id,:name,selected:@item.category.id
            -if ProductSize.where(ancestry: CategorySize.find_by(category_id: @item.category.id).product_size_id).present?
              .items-second__head--fourth
                = f.label :"サイズ"
                %span.form-require 必須
                %br/
                = f.collection_select :product_size_id,ProductSize.where(ancestry: CategorySize.find_by(category_id: @item.category.id).product_size_id),:id,:name,selected:@item.category.id
            - else
              .items-second__head--fourth{style:"display:none;"}
                = f.label :"サイズ"
                %span.form-require 必須
                %br/
          .items-second__center
            = f.label :"ブランド"
            %span.common-field__tag--any 任意
            %br/
            = f.collection_select :brand_id,@brands,:id,:name,selected: @item.brand_id
          .items-second__foot
            = f.label :"商品の状態"
            %span.form-require 必須
            %br/
            = f.select :condition_num, Item.condition_nums.keys.map {|k| [I18n.t("enums.item.condition_num.#{k}"), k]}
        %hr.items-hr
        .items-third
          %p.items-third__detail
            配送について
          .items-third__head
            = f.label :"配送料の負担"
            %span.form-require 必須
            %br/
            = select_tag 'shippingway', options_for_select(Shippingway.where(ancestry: nil).pluck(:name,:id),selected:@item.shippingway.parent.id)
          .items-third__center
            = f.label :"配送の方法"
            %span.form-require 必須
            %br/
            = f.collection_select :shippingway_id ,Shippingway.where(ancestry: @item.shippingway.parent.id),:id,:name,selected:@item.shippingway.id
          .items-third__foot
            = f.label :"発送までの日数"
            %span.form-require 必須
            %br/
            = f.select :daystoship_num, Item.daystoship_nums.keys.map {|k| [I18n.t("enums.item.daystoship_num.#{k}"), k]}
        %hr.items-hr
        .items-final
          %p.items-final__detail
            価格 (¥200~9,999,999)
          .items-final__head
            .items-final__head--inner
              = f.label :"販売価格"
              %span.form-require 必須
            %br/
            = f.text_field :price, data: { autonumeric: { aSign: '¥', mDec: 0 ,vMax:9999999} } , placeholder: "金額を入力して下さい"
          .items-final__commission
            .items-final__commission--factor
              %div
                販売手数料(10%)
          %hr.items-hr
          .items-final__profit
            .items-final__profit--factor
              %div
                販売利益
          .items-final__exibition
            .exibition-n-back
              = f.submit "出品する",class:"exibition-n-back__submit" , data: { confirm: '入力した情報で出品します。よろしいですか？' }
              = link_to "もどる" , root_path, class:"exibition-n-back__previous"

        .common-field
          %P.common-field__consent
            禁止されている行為および出品物を必ずご確認ください。偽ブランド品や盗品物などの販売は犯罪であり、法律により処罰される可能性があります。 また、出品をもちまして加盟店規約に同意したことになります。

  .items__footer
    = render "devise/navigation"
    %p ©️FURIMA
