.trades-new
  %header.trades-new-header
    .trades-header__icon
      = link_to root_path do
        = image_tag 'logo.png'
  %main.trades-new-buy-main
    .trades-new-container
      %h2.trades-new-buy__head 購入内容の確認
      .trades-new-buy-content
        .trades-new-buy-content-inner
          .trades-new-buy-item-box
            %h3.trades-new-buy-item__image
              = image_tag @item.item_images.first.image.url, class:'trades-image'
              .trades-new-buy-item__detail
                .trades-new-buy-item__detail--name
                  = @item.title
                .trades-new-buy-item__price-ja
                  %span
                    = thousands_separator(@item.price)
                  %span.trades-new-buy-item__shipping-fee （税込）送料込み
      .trades-new-buy-content
        .trades-new-buy-content-inner
          - if trade_submited?(@trade)
            .trades-new-buy-alreay-submited
              %span.trades-new-buy-alreay-submited__text
                この商品は売約済みです。
            .trades-create-buy-content-inner
              = link_to root_path do
                = button_tag "戻る", class: "trades-create-buy-content-inner__rootbtn"
          - else
            = form_with(model: [@item, @trade],  local: true) do |f|
              %ul.trades-new-buy-price-table
                %li.trades-new-buy-price-table__row
                  %h3.trades-new-buy-price-table__cell--label 支払い金額
                  .trades-new-buy-price-table__cell
                    %span
                      = thousands_separator(@item.price)
              .trades-new-cash
                .trades-new-buy-content-inner
                  %h3 支払い方法
                  - if @default_card_information.nil?
                    = link_to new_user_creditcard_path(current_user.id), class: "trades-new-buy-user-info-fix" do
                      %p.trades-new-cash-text__cardinfo
                        .trades-new-cash__icon
                          = icon('fas', 'plus-circle')
                          %span.trades-new-buy-register-text--new
                            登録する
                  - else
                    %p.trades-new-cash-text__cardinfo
                      .creditcards-show-confirmation__contents
                        .creditcards-show-confirmation__card-number
                          .creditcards-show-confirmation__card-number--text カード番号
                          .creditcards-show-confirmation__card-number--number
                            = "**** **** **** " + @default_card_information.last4
                        .creditcards-show-confirmation__expire
                          .creditcards-show-confirmation__expire--text 有効期限
                          .creditcards-show-confirmation__expire--date
                            - exp_month = @default_card_information.exp_month.to_s
                            - exp_year = @default_card_information.exp_year.to_s.slice(2,3)
                            = exp_month + " 月 / " + exp_year + " 年"
              .trades-new-cash
                .trades-new-buy-content-inner
                  %h3 配送先
                  - if @address.nil?
                    = link_to new_user_address_path(current_user.id), class: "trades-new-buy-user-info-fix" do
                      %p.trades-new-cash-address
                        .trades-new-cash__icon
                          = icon('fas', 'plus-circle')
                          %span.trades-new-buy-register-text 登録する
                  - else
                    = link_to edit_user_address_path(current_user.id, @address.id), class: "trades-new-buy-user-info-fix" do
                      %span.trades-new-cash-address__edit
                        変更する
                    %p.trades-new-cash-address__info
                      = "〒" + @address.postal_number
                      %br/
                      = @address.city
                      %br/
                      = @address.number
                      %br/
                      = @address.building
              .trades-new-buy-content
                .trades-new-buy-content-inner
                  = f.hidden_field :user_id
                  = f.hidden_field :item_id
                  = f.hidden_field :address_id
                .trades-new-buy-content-inner
                - if card_present_and_address_present?(@default_card_information, @address)
                  .trades-create-buy-content-inner
                    = submit_tag "購入する", class: "trades-create-buy-content-inner__rootbtn"
  %footer.trades-new-footer
  = render 'layouts/footer'