%header.ecHeader
  .tops-index-head
    .tops-index-head-top
      .tops-index-head-top__icon
        = link_to root_path do
          = image_tag 'logo.png'
      .tops-index-head-top__searchBox
        = form_tag( "#" ,method: 'get', class: "head__form--tag") do
          = text_field_tag :search , '', class: "head__search--input", placeholder: "キーワードから探す"
          = button_tag type: "submit", class: "head__search--input--btn" do
            = image_tag 'icon-search 1.png'
    .tops-index-head-bottom
      .tops-index-head-bottom__item
        .categories
          = link_to "カテゴリー" , "#"
          .category-tree{style: "display:none;"}
            %ul.category-tree__parent
              - Category.where(ancestry: nil).each do |category|
                %li.category-tree__parent--list{data:{category_id: category.id}}
                  = link_to category.name,category_path(category.id)
            %ul.category-tree__child{style: "display:none;"} 
            %ul.category-tree__grand-child{style: "display:none;"} 
        .brands
          = link_to "ブランド" , "#"
          .brand-tree{style: "display:none;"}
            %ul.brand-tree__item
              - Brand.all.each_with_index do |brand,i|
                %li.brand-tree__item--list{data:{brand_id: i}}
                  = link_to brand.name,brand_path(brand.id)
      .tops-index-head-bottom__user
        -if user_signed_in?
          .tops-index-head-bottom__Left
            = link_to "ログアウト", destroy_user_session_path, method: :delete, data: { confirm: 'ログアウトしてもよろしいですか？' } 
          .tops-index-head-bottom__Right 
            = link_to "マイページ" ,user_path(current_user.id)
        -else
          .tops-index-head-bottom__Left
            = link_to "ログイン" , new_user_session_path
          .tops-index-head-bottom__Right 
            = link_to "新規会員登録" , sign_ups_path
